{% include "../components/header.html" %}
<main class="flex justify-center min-h-screen bg-slate-100">
    <div class="container pl-3 pr-3 pt-8 pb-8">
        <!--[-->
        <div class="grid gap-8">
            <div class="flex justify-center">
                <div class="w-[50rem] text-center p-10">
                    <h1 class="flex text-2xl font-bold h-12 justify-center items-center mb-2">Sobre Encuentra Inmueble</h1>
                    <p class="text-lg">
                        <i>EncuentraInmueble.com</i> es un sistema web diseñado para el monitoreo y análisis del mercado inmobiliario en Lima. A través de técnicas avanzadas de web scraping y procesamiento de datos, recopila y organiza información sobre precios de propiedades en diferentes distritos, permitiendo a usuarios, inversionistas y agentes inmobiliarios tomar decisiones informadas.
                    </p>
                </div>
            </div>
            <div class="flex gap-8">
                <div class="grid basis-1/2 gap-3">
                    <h2 class="text-2xl font-semibold">¿Qué ofrece Encuentra Inmueble?</h2>
                    <ul>
                        <li class="flex gap-4 pt-1 pb-1">
                            <div class="flex justify-center items-center">
                                <span class="iconify i-material-symbols-light:checklist-rounded w-12 h-12" aria-hidden="true"></span>
                            </div>
                            <div class="grid">
                                <h3 class="text-lg font-semibold">Datos actualizados y verificados</h3>
                                <p>Encuentra Inmueble recopila información en tiempo real sobre precios de compra y alquiler de inmuebles en Lima.</p>
                            </div>
                        </li>
                        <li class="flex gap-4 pt-1 pb-1">
                            <div class="flex justify-center items-center">
                                <span class="iconify i-material-symbols-light:analytics-outline-rounded w-12 h-12" aria-hidden="true"></span>
                            </div>
                            <div class="grid">
                                <h3 class="text-lg font-semibold">Análisis detallado de tendencias del mercado inmobiliario</h3>
                                <p>El sistema no solo muestra precios actuales, sino que también permite analizar la evolución del mercado a lo largo del tiempo.</p>
                            </div>
                        </li>
                        <li class="flex gap-4 pt-1 pb-1">
                            <div class="flex justify-center items-center">
                                <span class="iconify i-material-symbols-light:text-compare-outline w-12 h-12" aria-hidden="true"></span>
                            </div>
                            <div class="grid">
                                <h3 class="text-lg font-semibold">Comparaciones inteligentes entre distritos y tipos de propiedades</h3>
                                <p>Encuentra Inmueble facilita la comparación entre distritos, tipos de inmuebles y rangos de precios. Los usuarios pueden visualizar diferencias de costos entre zonas específicas y evaluar qué opción se ajusta mejor a su presupuesto o estrategia de inversión.</p>
                            </div>
                        </li>
                        <li class="flex gap-4 pt-1 pb-1">
                            <div class="flex justify-center items-center">
                                <span class="iconify i-material-symbols-light:interactive-space-outline-rounded w-12 h-12" aria-hidden="true"></span>
                            </div>
                            <div class="grid">
                                <h3 class="text-lg font-semibold">Interfaz intuitiva y herramientas avanzadas de búsqueda</h3>
                                <p>El sistema está diseñado para ser fácil de usar, con una interfaz intuitiva que permite filtrar propiedades por precio, ubicación, tamaño y más.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="basis-1/2 rounded-xl overflow-hidden">
                    <img class="w-full" src="/img/about-images.jpg">
                </div>
            </div>
            <div class="p-5">
                <p class="text-center text-lg">Este sistema forma parte del proyecto de investigación <i>"Sistema web de monitoreo basado en web scraping y procesamiento de datos para la recopilación de precios en el mercado inmobiliario de Lima, 2025"</i>, cuyo objetivo es mejorar la transparencia y accesibilidad de la información en el sector inmobiliario. </p>
            </div>
        </div>
        <!--]-->
    </div>
</main>
{% include "../components/footer.html" %}