{% include "../components/header.html" %}
    <main class="flex justify-center min-h-screen bg-slate-100">
        <div class="container pl-3 pr-3 pt-8 pb-8">
            
            <div class="flex gap-8">
                <div class="grid basis-4/12 gap-8">
                    <form action="">
                        <div class="card bg-white rounded-lg border">
                            <div class="flex justify-between p-4 border-bottom">
                                <h1 class="flex text-lg font-bold gap-1 items-center h-11">
                                    <i class="bi bi-link-45deg flex items-center justify-center h-11 w-11 text-2xl"></i>
                                    <span>Urbania</span>
                                </h1>

                                <a href="{{ '/scraper/1' }}" class="flex min-w-11 h-11 justify-center gap-2 pl-2 pr-2 items-center rounded-md cursor-pointer bg-slate-100">
                                    <i class="bi bi-robot text-lg w-5 h-5 flex items-center justify-center"></i>
                                    <span>Área de Scraping</span>
                                </a>
                            </div>
                            <div class="grid card-content p-4 gap-3">
                                <label for="">
                                    <div class="text-sm mb-2">Link del portal</div>
                                    <div class="flex border rounded">
                                        <div class="flex items-center p-2 text-gray-600 bg-gray-100">https://urbania.com/</div>
                                        <div class="flex-1"><input type="text" class="w-full h-10 pl-2 pr-2"></div>
                                    </div>
                                </label>
                            </div>
                            <div class="card-footer p-4 pt-0">
                                <button class="w-full h-12 text-center bg-emerald-500 rounded">Agregar / Actualizar</button>
                            </div>
                        </div>
                    </form>

                    <div class="card bg-white rounded-lg border">
                        <div class="card-header p-4 border-bottom">
                            <div class="flex justify-between">
                                <div class="flex items-center h-11">
                                    <h2 class="flex text-lg font-semibold gap-1">
                                        <i class="bi bi-list-nested flex items-center justify-center w-7 h-7"></i>
                                        <span>Links de portales</span>
                                    </h2>
                                </div>
                                <div>
                                    <a class="flex min-w-11 h-11 justify-center items-center rounded-md cursor-pointer gap-2 bg-sky-200 pl-3 pr-3">
                                        <i class="bi bi-download text-lg w-5 h-5 flex items-center justify-center"></i>
                                        <span>Descargar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-content p-4">
                            <table class="table-auto" width="100%">
                                <thead class="text-sm">
                                    <tr>
                                        <th class="w-10">ID</th>
                                        <th class="text-left">Link de portal</th>
                                        <th class="w-32"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td><a href="https://urbania.pe/" target="_blank">https://urbania.pe/listado</a></div>
                                        <td class="text-center pr-0">
                                            <div class="flex gap-2 justify-center">
                                                <a class="flex min-w-11 h-11 justify-center items-center rounded-md cursor-pointer bg-slate-100">
                                                    <i class="bi bi-pen text-lg w-5 h-5 flex items-center justify-center"></i>
                                                </a>

                                                <a class="flex min-w-11 h-11 justify-center items-center rounded-md cursor-pointer bg-slate-100">
                                                    <i class="bi bi-trash3 text-lg w-5 h-5 flex items-center justify-center"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="basis-8/12">
                    <div class="card bg-white rounded-lg border">
                        <div class="card-header p-4 border-bottom">
                            <div class="flex justify-between">
                                <div class="flex items-center h-11">
                                    <h2 class="flex text-lg font-semibold gap-1">
                                        <i class="bi bi-list-nested flex items-center justify-center w-7 h-7"></i>
                                        <span>Link de inmuebles</span>
                                    </h2>
                                </div>
                                <div>
                                    <a class="flex min-w-11 h-11 justify-center items-center rounded-md cursor-pointer gap-2 bg-sky-200 pl-3 pr-3">
                                        <i class="bi bi-download text-lg w-5 h-5 flex items-center justify-center"></i>
                                        <span>Descargar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-content p-4">
                            <table class="table-auto" width="100%">
                                <thead class="text-sm">
                                    <tr>
                                        <th class="w-10">ID</th>
                                        <th class="text-left">Link de inmueble</th>
                                        <th class="w-40 text-center">Fecha de agregado</th>
                                        <th class="w-16"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center text-left"><a href="https://urbania.pe/" target="_blank">https://urbania.pe/</a></div>
                                        <td class="text-center">12/12/2023 12:45</td>
                                        <td class="text-center">
                                            <div class="flex gap-2 justify-center">
                                                <a class="flex min-w-11 h-11 justify-center items-center rounded-md cursor-pointer bg-slate-100">
                                                    <i class="bi bi-trash3 text-lg w-5 h-5 flex items-center justify-center"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
{% include "../components/footer.html" %}