{% include "../components/header.html" %}

    {% raw %}
    <main id="main" class="flex justify-center min-h-screen bg-slate-100">
        <div class="container pl-3 pr-3 pt-8 pb-8">
            
            <div class="flex gap-8">
                <div  class="basis-3/12">
                    <form @submit="save">
                        <div class="card bg-white rounded-lg border">
                            <div class="card-header p-4 border-bottom">
                                <h1 class="flex text-lg font-bold gap-1 items-center h-11">
                                    <i class="bi bi-link-45deg flex items-center justify-center h-11 w-11 text-2xl"></i>
                                    <span>Fuente de datos</span>
                                </h1>
                            </div>
                            <div class="grid card-content p-4 gap-3">
                                <label for="url_base">
                                    <div class="text-sm mb-2">URL Base</div>
                                    <input id="url_base" type="text" v-model="form.url_base.value" class="w-full h-10 border rounded pl-2 pr-2" required>
                                </label>
                                <label for="name">
                                    <div class="text-sm mb-2">Nombre de fuente de datos</div>
                                    <input id="name" type="text" v-model="form.name.value" class="w-full h-10 border rounded pl-2 pr-2" requried>
                                </label>
                                <label for="description">
                                    <div class="text-sm mb-2">Descripción</div>
                                    <textarea id="description" v-model="form.description.value" class="w-full h-20 border rounded p-2" required></textarea>
                                </label>
                            </div>
                            <div class="card-footer p-4 pt-0">
                                <button class="w-full h-12 text-center bg-emerald-500 rounded">Agregar / Actualizar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="basis-9/12">
                    <div class="card bg-white rounded-lg border">
                        <div class="card-header p-4 border-bottom">
                            <div class="flex justify-between">
                                <div class="flex items-center h-11">
                                    <h2 class="flex text-lg font-semibold gap-1">
                                        <i class="bi bi-list-nested flex items-center justify-center w-7 h-7"></i>
                                        <span>Listado de fuentes de datos</span>
                                    </h2>
                                </div>
                                <div>
                                    <a class="flex min-w-11 h-11 justify-center items-center rounded-md cursor-pointer gap-2 bg-sky-200 pl-3 pr-3">
                                        <i class="bi bi-download text-lg w-5 h-5 flex items-center justify-center"></i>
                                        <span>Descargar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-content p-4">
                            <table class="table-auto" width="100%">
                                <thead class="text-sm">
                                    <tr>
                                        <th class="w-10">ID</th>
                                        <th class="w-48">Nombre</th>
                                        <th class="w-48">URL Base</th>
                                        <th>Descripción</th>
                                        <th class="w-40"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center">
                                            <div>Alquilar</div>
                                            <div class="text-sm text-gray-600 italic">alquilar</div>
                                        </td>
                                        <td class="text-center"><a href="https://urbania.pe/" target="_blank">https://urbania.pe/</a></div>
                                        <td class="text-sm">Ceder el uso de una propiedad (como una casa, un departamento, una oficina o un local comercial) a otra persona a cambio de un pago periódico.</td>
                                        <td class="text-center">
                                            <div class="flex gap-2 justify-center">
                                                <a href="/data-source/1" class="flex min-w-11 h-11 justify-center gap-2 pl-2 pr-2 items-center rounded-md cursor-pointer bg-slate-100">
                                                    <i class="bi bi-robot text-lg w-5 h-5 flex items-center justify-center"></i>
                                                </a>
                                                <a class="flex min-w-11 h-11 justify-center items-center rounded-md cursor-pointer bg-slate-100">
                                                    <i class="bi bi-pen text-lg w-5 h-5 flex items-center justify-center"></i>
                                                </a>
                                                <a class="flex min-w-11 h-11 justify-center items-center rounded-md cursor-pointer bg-slate-100">
                                                    <i class="bi bi-trash3 text-lg w-5 h-5 flex items-center justify-center"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    
    <script type="module">
        import { createDefaultForm, deepCopy, valueRef } from "/js/helpers/Utils.js";
        import { DataSourceService } from "/js/services/Scrapers.js";

        const { createApp, ref, onBeforeMount } = Vue
        
        createApp({
            setup() {
                const dataSourceService = DataSourceService();

                const formDefault = createDefaultForm(['url_base', 'name', 'description']);
                const form = ref(deepCopy(formDefault));

                const list = ref([]);

                const listDataSources = async () => {
                    dataSourceService.list();
                }

                onBeforeMount(() => {
                    listDataSources();
                });

                const save = (e) => {
                    e.preventDefault();
                    const data = valueRef(form);
                    dataSourceService.save(data, () => {
                        listDataSources();
                    });
                }
                return {
                    form, save
                }
            }
        }).mount('#main')
    </script>
    {% endraw %}

{% include "../components/footer.html" %}