{% include "../components/header.html" %}
<main class="flex justify-center min-h-screen bg-slate-100">
    <div class="container pl-3 pr-3 pt-8 pb-8">
        <!--[-->
        <div class="grid grid-cols-3 gap-8">
            <div>
                <div class="card bg-white rounded-lg border">
                    <div class="card-header p-4 border-bottom">
                        <div class="flex justify-between">
                            <div class="flex items-center h-11">
                                <h2 class="flex text-lg font-semibold gap-1">
                                    <i class="bi bi-list-nested flex items-center justify-center w-7 h-7"></i>
                                    <span>Listado de Divisas</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-content p-4">
                        <table class="table-auto" width="100%">
                            <thead class="text-sm">
                                <tr>
                                    <th class="w-10">ID</th>
                                    <th>Símbolo</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>ISO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">$</td>
                                    <td class="text-center">
                                        <div>Dolar</div>
                                        <div class="text-sm text-gray-600 italic">dolar</div>
                                    </td>
                                    <td class="text-center">Moneda estadounidense</td>
                                    <td class="text-center">USD</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div>
                <div class="card bg-white rounded-lg border">
                    <div class="card-header p-4 border-bottom">
                        <div class="flex justify-between">
                            <div class="flex items-center h-11">
                                <h2 class="flex text-lg font-semibold gap-1">
                                    <i class="bi bi-list-nested flex items-center justify-center w-7 h-7"></i>
                                    <span>Listado de Operaciones</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-content p-4">
                        <table class="table-auto" width="100%">
                            <thead class="text-sm">
                            <tr>
                                <th class="w-10">ID</th>
                                <th>Símbolo</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>ISO</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">$</td>
                                <td class="text-center">
                                    <div>Dolar</div>
                                    <div class="text-sm text-gray-600 italic">dolar</div>
                                </td>
                                <td class="text-center">Moneda estadounidense</td>
                                <td class="text-center">USD</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div>
                <div class="card bg-white rounded-lg border">
                    <div class="card-header p-4 border-bottom">
                        <div class="flex justify-between">
                            <div class="flex items-center h-11">
                                <h2 class="flex text-lg font-semibold gap-1">
                                    <i class="bi bi-list-nested flex items-center justify-center w-7 h-7"></i>
                                    <span>Listado de Propiedades</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-content p-4">
                        <table class="table-auto" width="100%">
                            <thead class="text-sm">
                            <tr>
                                <th class="w-10">ID</th>
                                <th>Símbolo</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>ISO</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">$</td>
                                <td class="text-center">
                                    <div>Dolar</div>
                                    <div class="text-sm text-gray-600 italic">dolar</div>
                                </td>
                                <td class="text-center">Moneda estadounidense</td>
                                <td class="text-center">USD</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--]-->
    </div>
</main>
{% include "../components/footer.html" %}